<p id="who">
  <strong>Who:</strong>
  The course is aimed at graduate students and other researchers at JAX and nearby institutions. You can attend from either the Bar Harbor or Farmington campus. Please plan to be physically located in the same room with other participants. We don’t allow individual participants to attend remotely because we provide support, and we can’t do that if you’re not here in the room with us.
  <strong>
    You don't need to have any previous knowledge of the tools
    that will be presented at the workshop.
  </strong>
</p>
